article, footer {
    margin-top:20px;
}

section {
    border: 1px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    margin-top: 9px;
}
header {
    border-bottom: 1px solid black;
}

footer, .paternalWhiteSpace {
    margin-bottom: 10px;
}

input {
    border-left: 1px solid black;
}

.btn-danger {
    border: none;
    background-color: white;
    color: red;
}


