/*added white-space around each section and footer*/
article, footer {
    margin-top:20px;
}



/*use a border to seperate the nav from the body*/
header {
    border-bottom: 1px solid black;
}

/*add white-space under the footer and father of the current family*/
footer, .paternalWhiteSpace {
    margin-bottom: 10px;
}

/*fix a bug where the left side of input fields disappeared. Center the text inside the input fields*/
input {
    border-left: 1px solid black;
    text-align: center;
}

/*make the skip button look like clickable text field*/
.btn-danger {
    border: none;
    background-color: white;
    color: red;
}

/*add white-space around the add child button*/
.btn-warning {
    margin: 20px 0px 10px 0px;
}

/*hides different sections when not in use*/
#paternalFamily, #maternalFamily, #familyTree {
    display: none;
}

#familyTree {
    font-size: 1.5vh;
}

/*****************Colors for Family Tree Icons *****/

.fa-chess-king {
    color: navy;
}

.fa-chess-queen {
    color: deeppink;
}

.fa-chess-pawn {
    color: darkgreen;
}
/****************************************************/

/*add white-space and a new line for each child added*/
.addChildrenStyle {
    margin-top: 15px;
    display: block;
}

/*change the parent's input to grey when the user press the "skip" buttons*/
.skipParent {
    background-color: grey;
}

/*************** CSS Grid use to show Family Tree*******************************/

.grid-container {
    display: grid; /*grid format*/
    grid-template-columns: auto auto auto auto; /*four cols, this way the 
    top father and mother areas have equal spacing*/
    grid-template-areas: 
        'PK PQ MK MQ' 
        'pawnPaternal pawnPaternal pawnMaternal pawnMaternal '
        'father father mother mother'
        'pawn pawn pawn pawn';
    grid-column-gap: 1px;
    grid-row-gap: 15px;
    //justify-content:center;
    justify-items: center; /*align all content in the center horizontally*/   
}

.familyTitle {
    grid-area: title;
    grid-column: ;
    grid-row: 
}

.paternalDad {
  grid-area: PK;
  grid-row: 1;     
}

.paternalMom {
  grid-area: PQ;
  grid-row: 1;     
}

.maternalDad{
  grid-area: MK;
  grid-row: 1;     
}

.maternalMom {
  grid-area: MQ;
  grid-row: 1;     
}

/*set this div as the first two columns in the top row*/
.father {
  grid-area: king; /*giving this class a grid-area name*/
  grid-column: 1/2;
  grid-row: 3;  
}

/*set this div as the last two columns in the top row*/
.mother {
    grid-area: queen; /*giving this class a grid-area name*/
    grid-column: 3/4; 
    grid-row: 3;
}

.childrenPaternal {
    grid-area: pawnPaternal; /*giving this class a grid-area name*/ 
    display: grid;
    grid-template-columns: auto auto auto auto; /*four cols, this way the 
    top father and mother areas have equal spacing*/ 
}

.childrenMaternal {
    grid-area: pawnMaternal; /*giving this class a grid-area name*/ 
    display: grid;
    grid-template-columns: auto auto auto auto; /*four cols, this way the 
    top father and mother areas have equal spacing*/
}

.children {
    grid-area: pawn; /*giving this class a grid-area name*/ 
    display: grid;
    grid-template-columns: auto auto auto auto; /*four cols, this way the 
    top father and mother areas have equal spacing*/ 
}

/*************** End of CSS Grid section for Family Tree*******************************/

/*From 0 to 800 width created a border around the app */
@media only screen and (max-width: 800px) {
    section {
    border: none;
    margin-top: 9px;       
    }   
}

/*From 0 to 800 width created a border around the app */
@media only screen and (min-width: 801px) {
    section {
    border: 1px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    margin-top: 9px;       
    }   
}

/*Tablets & Desktop or big screen
From 490 to 599 the width is smaller and the window is moved to center of page */
@media only screen and (min-width: 490px) {
  .centerDiv {
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width: 80%; 
    height: 80%; 
  }    
}

/*Tablets & Desktop
From 600 and up the width is smaller and the window is moved to center of page */
@media only screen and (min-width: 670px) {
  .centerDiv {
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width: 70%; 
    height: 80%; 
  }    
}

/*Desktop
From 900 and up the width is smaller and the window is moved to center of page */
@media only screen and (min-width: 900px) {
  .centerDiv {
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width: 60%; 
    height: 80%; 
  }    
}

/*Super large Desktop
From 1199 and up the width is smaller and the window is moved to center of page */
@media only screen and (min-width: 1210px) {
  .centerDiv {
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width: 50%; 
    height: 80%; 
  }    
}

/*Super large Desktop
From 1500 and up the width is smaller and the window is moved to center of page */
@media only screen and (min-width: 1750px) {
  .centerDiv {
    margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width: 40%; 
    height: 80%; 
  }    
}

